

.left img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.left h1 {
  font-size: 32px;
  margin-top: 20px;
}

.right {
  border-left: 3px solid red;
  
  padding-left: 20px;
}

.sidebarTitle {
  margin-bottom: 20px;
}

.sideItem {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.sideItem img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.sideItem h4 {
  font-size: 14px;
}