
.left img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.left h1 {
  font-size: 32px;
  margin-top: 20px;
}

.right {
  border-left: 3px solid red;
  padding-left: 20px;
  height: 550px;
}
.right1 {
  border-left: 3px solid red;
  padding-left: 20px;
  height: 450px;
}

.sidebarTitle {
  margin-bottom: 20px;

}

.sideItem {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.sideItem img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.sideItem h4 {
  font-size: 14px;
}
.box{
  background-color: #F5F2FF ;
  width: 390px;
  padding: 16px;
  border-radius: 10px;
}
.truncate{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical; /*needed which direction to arrange content*/
  overflow: hidden;
}
.t1{
  top: 50px;
}